@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);
body{
  font-family: 'Libre Baskerville';
  text-align: center;
  margin-top: 300px;
  background-color: #C0C0C0;
}

input{
  width: 200px;
  padding: 5px;
  color: brown;
}

input[placeholder]{
  font-style: normal;
  font-size: 13px;
  font-weight: bold;
}

footer{
  margin-top: 320px;
}

hr{
  border-style: ridge;
}
